:root {
    --primary-color:#4589FF;
    --secondary-color: #005DFF;
    --primary-highlight-color: #D2E3FF;
    --secondary-highlight-color: #f0f8ff;
    --grey: #5d6e42;
    --dark: #091931;
    --orange: #FF7A00;
    --pink: #FF5EB3;
    --violet: #6E52FF;
    --purple: #9327FF;
    --turquoise: #00BEE8;
    --aqua: #1FD7C1;
    --salmon: #FF745E;
    --pastel-orange: #FFA35E;
    --fuchsia: #FC71FF;
    --pastel-gold: #FFC701;
    --blue: #0038FF;
    --lime: #C3FF2B;
    --yellow: #FFE62B;
    --coral: #FF4646;
    --gold: #FFBB2B;
    --priority-urgent: #FF3D00;
    --priority-medium: #FFA800;
    --priority-low: #7AE229;
    --warning: #FF8190;
}

* {
    font-family: 'Open Sans';
    color: #000000;
}

.pointer:hover {
    cursor: pointer;
}

.non-clickable {
    pointer-events: none;
    cursor: default;
}

.color-white {
    color: #FFFFFF
}

h1 {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

h2 {
    color: var(--primary-color);
    font-size: 33px;
    font-weight: 700;
}

h3 {
    margin-bottom: 0;
    color: var(--secondary-color);
    font-size: 19px;
    font-weight: 700;
}

p {
    margin-top: 0;
}

.site-wrapper {
    max-width: 1440px;
}

.site-body-wrapper {
    display: flex;
    height: 932px;
}

.content-wrapper {
    overflow-y: scroll;
}

.content-wrapper::-webkit-scrollbar {
    display: none;
}

.text-content {
    padding: 100px;
}

.text-content-headline-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p > a {
    color: var(--primary-color);
}

