:root {
    --primary-color: #4589FF;
    --secondary-color: #005DFF;
    --primary-highlight-color: #D2E3FF;
    --secondary-highlight-color: #f0f8ff;
    --divider-color: #D1D1D1;
    --email-color: #007CEE;
    --scrollbar-handle-color: #A8A8A8;
    --grey: #5d6e42;
    --dark: #091931;
    /* --orange: #FF7A00;
    --pink: #FF5EB3;
    --violet: #6E52FF;
    --purple: #9327FF;
    --turquoise: #00BEE8;
    --aqua: #1FD7C1;
    --salmon: #FF745E;
    --pastel-orange: #FFA35E;
    --fuchsia: #FC71FF;
    --pastel-gold: #FFC701;
    --blue: #0038FF;
    --lime: #C3FF2B;
    --yellow: #FFE62B;
    --coral: #FF4646;
    --gold: #FFBB2B; */
    --priority-urgent: #FF3D00;
    --priority-medium: #FFA800;
    --priority-low: #7AE229;
    --warning: #FF8190;
    --hover-slight-blue: #E3EEFF;
    --hover-bright-blue: #D2E3FF;
}

* {
    font-family: 'Open Sans';
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    /* margin: 0; */
    font-size: 61px;
    font-weight: 700;
}

h2 {
    margin: 24px 0;
    color: var(--primary-color);
    font-size: 33px;
    font-weight: 700;
}

h3 {
    margin-top: 24px;
    color: var(--secondary-color);
    font-size: 19px;
    font-weight: 700;
}

p {
    margin-top: 0;
}

p>a {
    color: var(--primary-color);
}

.pointer:hover {
    cursor: pointer;
}

.non-clickable {
    pointer-events: none;
    cursor: default;
}

.scale-on-hover {
    /* transform-origin: right bottom; */
    transition: transform 100ms ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.01);
}

.color-white {
    color: #FFFFFF
}

.site-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.site-body-wrapper {
    display: flex;
    position: relative;
    max-height: calc(100vh - 96px);
    max-width: 1920px;
}

.content-wrapper {
    display: flex;
    flex: 1;
}

.text-content::-webkit-scrollbar {
    display: none;
}

.text-content {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 20px;
    overflow-y: scroll;
}

.horizontal-content {
    display: flex;
    flex: 1;
}

.text-content-headline-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.help-step-wrapper {
    display: flex;
    margin-top: 18px;
}

.help-step-number {
    padding-right: 32px;
    color: var(--secondary-color);
    font-size: 33px;
    font-weight: 700;
}

.help-step-headline {
    margin: 0;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-handle-color);
    border: 6px solid #ffffff;
    border-radius: 20px;
}

::-webkit-scrollbar-button {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-button:vertical:decrement {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -5 12 16"><path fill="%23A8A8A8" d="M8 4l4 4H4z"/></svg>');
    /* Pfeil nach oben */
}

::-webkit-scrollbar-button:vertical:increment {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 3 12 16"><path fill="%23A8A8A8" d="M8 12l-4-4h8z"/></svg>');
    /* Pfeil nach unten */
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

.d-none {
    display: none !important;
}

.hover-slight-blue:hover {
    background-color: var(--hover-slight-blue);
    border-radius: 50%;
    transform: scale(1.1);
}

@media (max-width: 1200px){
    .site-body-wrapper {
        display: flex;
        height: calc(100vh - 96px - 90px);
        max-width: 1920px;
    }
}

@media (max-width: 630px){
    .text-content {
        padding: 20px 30px;
    }

    .text-content-headline-area {
        margin-bottom: 20px;
    }
    
    .text-content-headline-area > h1{
        font-size: 40px;
    }
}