.add-task-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 500px;
  padding: 64px 24px;
  overflow-y: scroll;
}

.add-task-info-element {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  position: relative;
}

.add-task-info-element>label {
  font-weight: 700;
}

.add-task-input-title {
  font-size: 24px;
}

.add-task-textarea {
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--divider-color);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  resize: none;
}

.custom-resize-handle {
  width: 20px;
  height: 20px;
  content: url('../assets/icons/resize-handle.svg');
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: se-resize;
  border-radius: 3px;
}

.add-task-textarea:focus {
  border: 1px solid var(--primary-color);
}

.add-task-input-date-icon {
  position: absolute;
  top: 13px;
  right: 21px;
  pointer-events: none;
}

.add-task-priority-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  height: 55px;
  margin-top: 10px;
}

.add-task-priority-area>img {
  width: 32%;
}

.icon-add-task-priority-urgent:hover {
  content: url('../assets/icons/priorities/priorities-big/icon-prioritiy-big-urgent-hover.svg');
}

.icon-add-task-priority-medium:hover {
  content: url('../assets/icons/priorities/priorities-big/icon-prioritiy-big-medium-hover.svg');
}

.icon-add-task-priority-low:hover {
  content: url('../assets/icons/priorities/priorities-big/icon-prioritiy-big-low-hover.svg');
}

.add-task-category-button,
.add-task-assigned-to-button {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 4px;
  font-weight: 400;
  border-bottom: 1px solid var(--divider-color);
}

.add-task-category-button:hover,
.add-task-assigned-to-button:hover,
.add-task-category-button:focus-within,
.add-task-assigned-to-button:focus-within {
  border-bottom: 1px solid var(--primary-color);
}

.icon-add-task-category-button-arrow:hover,
.icon-add-task-assigned-to-button-arrow:hover {
  content: url('../assets/icons/icon-arrow-down-hover.svg');
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}

.dropdown-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  background-color: white;
  border-radius: 4px;
  z-index: 1000;
}

.dropdown-menu.active {
  display: block;
  height: 100%;
}

.contact-item:last-child {
  margin-bottom: 0;
}

input[type="checkbox"][class="contact-checkbox"] {
  display: none;
}

input[type="checkbox"][class="contact-checkbox"] + label {
  display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    content: url('../assets/icons/checkbox-default.svg');
}

input[type="checkbox"][class="contact-checkbox"]:checked + label {
	content: url('../assets/icons/checkbox-checked.svg');
}

input[type="checkbox"][class="contact-checkbox"]:hover + label {
    background-color:  var( --hover-slight-blue);
    box-shadow: 0px 0px 20px 1px var(--hover-slight-blue);
    border-radius: 40%;
}


.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 8px 12px;
  border-radius: 6px;
}

.dropdown-category-item {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 8px 12px;
  border-radius: 6px;
}

.dropdown-category-item:hover {
  cursor: pointer;
  background-color: var(--hover-bright-blue);
}

.item-avatar {
  display: block;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--salmon);
  font-size: 12px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

#taskMembers {
  display: flex;
  gap: 8px;
}

.dropdown-item-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--salmon);
  font-size: 12px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.icon-dropdown-item-checkbox {
  position: absolute;
  right: 10px;
  content: url('../assets/icons/checkbox-default.svg');
}

.add-task-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  gap: 32px;
  padding: 60px;
}

.add-task-button-create-task,
.add-task-button-clear {
  height: 45px;
}

.add-task-button-create-task:active .icon-check {
  content: url('../assets/icons/icon-check-active.png');
}

.add-task-button-clear:hover .icon-cancel {
  content: url('../assets/icons/icon-cancel-hover.png');
}

.add-task-button-clear:active .icon-cancel {
  content: url('../assets/icons/icon-cancel-active.png');
}

.contact-label {
  margin-left: auto; 
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-task-info-element-header {
  font-weight: 700;
}

.icon-add-subtask-button-plus {
  content: url('../assets/icons/SubtaskPlus.svg');
  display: flex;
  align-items: center;
}

.icon-add-subtask-button-plus:hover {
  background-color: var(--hover-slight-blue);
  border-radius: 50%;
}

.add-task-category-button input {
  border: none;
  outline: none;
}

#subtaskInput {
  width: 100%;
}

#taskAddSubtasksContent {
  margin-top: 10px;
}
.listitems {
  padding: 6px;
  font-size: 15px;
}

.ifSubtaskvalue {
  display: none;
  align-items: center;
  gap: 4px;
}

.subtaskDevider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 2px;
  border: 1px solid grey; 
}

.clearSubtask {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.clearSubtask img {
  height: 13px;
  width: 13px;
  cursor: pointer;
}

.clearSubtask:hover {
  background-color: var(--hover-slight-blue);
  border-radius: 50%;
}

.addSubtask {
  display: flex;
  align-items: center;
}

.addSubtask:hover {
  background-color: var(--hover-slight-blue);
  border-radius: 50%;
}