.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 16px 10px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    font-size: 23px;
    border: none;
    border-radius: 8px;
}

.button-primary:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 8px 0px #00000033;
    transition: ease-in-out 0.1s;
}

.button-primary:active {
    color: var(--primary-color);
    background-color: #FFFFFF;
}

.button-primary:active .icon-user {
    content:url('../assets/icons/icon-add-contact-active.png');
}

.button-primary:disabled {
    background-color: var(--primary-color);
    font-size: 23px;
    box-shadow: none;
    pointer-events: none;
}

.button-secondary {
    color: #647188;
    background-color: #FFFFFF;
    height: 48px;
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    border: 1px solid #647188
}

.button-secondary:hover {
    color: var(--primary-color);
    transition: ease-in-out 0.1s;
    border: 2px solid var(--primary-color);
}

.button-secondary:active {
    border: 1px solid var(--secondary-color)
}

.icon-user {
    content:url('../assets/icons/icon-add-contact.png');
}

.button-edit,
.button-delete {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    min-width: 76px;
    height: 24px;
    background-color: transparent;
    border: none;
}

.button-edit:hover,
.button-delete:hover {
    color: var(--secondary-color);
    font-weight: 700;
}

.button-edit:hover .icon-edit {
    content:url('../assets/icons/icon-edit-hover.png');
}

.button-delete:hover .icon-delete {
    content:url('../assets/icons/icon-delete-hover.png');
}

.icon-edit {
    content:url('../assets/icons/icon-edit.png');
}

.icon-delete {
    content:url('../assets/icons/icon-delete.png');
}
