.contact-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    height: 932px;
    box-shadow: 4px 0px 6px 0px #00000014;
    overflow-y: scroll;
}

.contact-list-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 400px;
    min-height: 120px;
    background-color: #FFFFFF;
}

.contact-list-button {
    width: 357px;
}

.contact-list-letter-header {
    display: flex;
    align-items: center;
    width: 352px;
    height: 56px;
    padding: 17px 36px;
    font-size: 18px;
    border-bottom: 1px solid var(--divider-color);
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 352px;
    padding: 15px 24px;
    border-radius: 10px;
    overflow: hidden;
}

.contact-list-name {
    font-size: 19px;
}

.contact-email {
    color: var(--email-color);
}

.contact-item:hover {
    color: #FFFFFF;
    background-color: var(--primary-highlight-color)
}

.contact-item:active{
    background-color: var(--primary-color);
}

.contact-item:active .contact-list-name, .contact-item:active .contact-list-email{
    color: #FFFFFF;
}

.contact-list-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 42px;
    height: 42px;
    color: white;
    background-color: var(--salmon);
    font-size: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.contact-detail-section {
    padding: 50px;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-detail-head {
    display: flex;
    align-items: center;
    gap: 54px;
}

.contact-detail-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 120px;
    color: #FFFFFF;
    background-color: var(--salmon);
    font-size: 47px;
    font-weight: 500;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    box-shadow: 0px 0px 4px 0px #00000029;
}

.contact-detail-name-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-detail-name {
    max-width: 500px;
    font-size: 47px;
    font-weight: 500;
    overflow: hidden;
}

.contact-detail-button-section {
    display: flex;
    gap: 10px;
}

.contact-detail-body {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-detail-sub-headline {
    font-size: 23px;
    font-weight: 700;
}

.contactDetailSection button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.contactForm,
.contactDetail {
    display: none;
}

.contactFormOverlay,
.contactDetailOverlay {
    display: none;
}

#contactDetailSection {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900; /* Unter dem Bearbeitungsformular, aber über dem Rest der Seite */
}

.contactEditForm {
    display: none;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Über der Überlagerung */
}

