.contact-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 456px;
    box-shadow: 4px 0px 6px 0px #00000014;
    padding: 10px;
}

.contact-list-button {
    width: 357px;
}

/* .contact-list {
    margin-top: 20px;
} */

.contact-list-letter-header {
    display: flex;
    align-items: center;
    width: 352px;
    height: 56px;
    padding: 17px 36px;
    font-size: 18px;
    border-bottom: 1px solid var(--divider-color);
}

.contact-item {
    display: flex;
    gap: 35px;
    width: 352px;
    /* align-items: center; */
    padding: 15px 24px;
    border-radius: 10px;
    /* cursor: pointer; */
}

.contact-list-name {
    font-size: 19px;
}

.contact-list-email {
    color: var(--email-color);
}

.contact-item:hover {
    color: #FFFFFF;
    background-color: var(--primary-highlight-color)
}

.contact-item:active{
    background-color: var(--primary-color);
}

.contact-item:active .contact-list-name, .contact-item:active .contact-list-email{
    color: #FFFFFF;
}

.contact-list-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: white;
    background-color: var(--salmon);
    font-size: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.contactDetailSection {
    /* width: 70%; */
    padding: 20px;
}

.contactDetailSection h2 {
    margin-top: 0;
}

.contactDetailSection button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.contactForm,
.contactDetail {
    display: none;
}

.contactFormOverlay,
.contactDetailOverlay {
    display: none;
}

#contactDetailSection {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900; /* Unter dem Bearbeitungsformular, aber über dem Rest der Seite */
}

.contactEditForm {
    display: none;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Über der Überlagerung */
}

