.container {
    display: flex;
}

.contactListSection {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.contactListSection button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.contactList {
    margin-top: 20px;
}

.contactItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.contactItem:hover {
    background-color: #f0f0f0;
}

.contactItem.active {
    background-color: lightblue;
}

.contactAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 10px;
}

.contactDetailSection {
    width: 70%;
    padding: 20px;
}

.contactDetailSection h2 {
    margin-top: 0;
}

.contactDetailSection button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.contactForm,
.contactDetail {
    display: none;
}

.contactFormOverlay,
.contactDetailOverlay {
    display: none;
}

#contactDetailSection {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900; /* Unter dem Bearbeitungsformular, aber über dem Rest der Seite */
}

.contactEditForm {
    display: none;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Über der Überlagerung */
}

