header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 20px 39px;
    background-color: var(--primary-color);
    font-size: 19px;
    width: 100%;
}

.header-logo {
    height: 56px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: #FFFFFF;
}

.icon-help:hover {
    scale: 1.2;
}

.header-user-profile-outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: var(--primary-color);
    border: 3px solid #FFFFFF;
    border-radius: 100px;
}

.header-user-profile {
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: var(--secondary-color);
    background-color: #FFFFFF;
    border-radius: 100px;
    font-size: 22px;
    font-weight: 600;
}

.header-user-profile-outer-circle:hover .header-user-profile{
    background-color: var(--secondary-highlight-color);
}

.logout-pop-up {
    position: absolute;
    top: 97px;
    right: 2px;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
}

.pop-up-button {
    width: 130px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    justify-content: right; 
}

.white-background {
    background-color: #FFFFFF;
}

.d-block {
    display: block;
}