* {
    margin: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.login-header p {
    font-size: 23px;
}

.login-header a {
    padding: 10px 16px 10px 16px;
}

.login-header-icon-div {
    height: 122px;
    width: 100px;  
}

.login-header-icon {
    content: url('../assets/img/logo/logo-join-blue.svg');
    padding: 0px !important;  
}

.logo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.logo-overlay-img {
    position: absolute;
    width: 200px;
    height: 200px;
    transition: all 1s ease-in-out;
}

@keyframes moveToTopLeft {
    100% {
        top: 50px;
        left: 50px;
        transform: translate(0, 0);
        width: 130px;
        height: 130px;
    }
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
    }
}

.logo-overlay.hidden .logo-overlay-img {
    animation: moveToTopLeft 1s forwards;
}

.logo-overlay.hidden {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.signup-header-icon {
    height: 122px;
    width: 100px;
    padding: 0px !important;  
    content: url('../assets/img/logo/logo-join-white.svg');
}

.login-header-right {
    display: flex;
    align-items: center;
    gap: 35px;
    height: 48px;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 60px;
}

.sign-up-body {
    background-color: var(--primary-color);
}

.login-form {
    position: relative;
    width: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 3px #00000014;
    gap: 39px;
}

.sign-up-form {
    background-color: #ffffff;
    padding: 48px 88px 48px 88px !important;
    gap: 35px !important;
}

.login-h1-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-h1 {
    font-size: 48px !important;
}

.login-h1-underline {
    border: 1px solid var(--primary-color);
}

.arrow-left-line-icon {
    position: absolute;
    height: 37px;
    width: 37px;
    top: 60px;
    left: 40px;
    cursor: pointer;
    content: url('../assets/icons/icon-arrow-back.png');
}

.arrow-left-line-icon:hover {
    background-color: var( --hover-slight-blue);
    border-radius: 50%;
    opacity: 0.8;
}
.login-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    gap: 10px;
}

.login-input-div:focus-within {
    border-bottom: 1px solid var(--primary-color);
}

.incorrect {
    border-bottom: 1px solid var(--warning) !important;
}

#login-password-icon {
    height: 24px;
    width: 24px;
}

.login-error-message-div {
    width: 100%;
    height: 32px;
}

.login-error-message {
    font-size: 13px;
    color: var(--warning);
}

.login-input {
    font-size: 19px;
    width: 100%;
    border: none;
}

.login-input:focus {
    outline: none;
}

.login-check-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    gap: 4px;
}

.sign-up-check-box {
    justify-content: center;
}

.login-button-div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 35px;
}

.login-button-div button {
    padding: 10px 35px 10px 35px;
    height: 48px;
}

.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 30px;
}

.sign-up-footer-a {
    color: white !important;
}

footer a:hover {
    color: var(--secondary-color) !important;
}

.login-remember-checkbox {
    height: 24px;
    width: 24px;
}

label:hover {
    cursor: pointer;
}

input[type="checkbox"][id="rememberMe"] {
    display: none;
}

input[type="checkbox"][id="rememberMe"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    content: url('../assets/icons/checkbox-default.svg');
}

input[type="checkbox"][id="rememberMe"]:checked + label {
	content: url('../assets/icons/checkbox-checked.svg');
}

input[type="checkbox"][id="rememberMe"]:hover + label {
    background-color:  var( --hover-slight-blue);
    box-shadow: 0px 0px 20px 1px var(--hover-slight-blue);
    border-radius: 40%;
}

input[type="checkbox"][id="acceptPrivacyPolicy"] {
    display: none;
}

input[type="checkbox"][id="acceptPrivacyPolicy"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    content: url('../assets/icons/checkbox-default.svg');
}

input[type="checkbox"][id="acceptPrivacyPolicy"]:checked + label {
	content: url('../assets/icons/checkbox-checked.svg');
}

input[type="checkbox"][id="acceptPrivacyPolicy"]:hover + label {
    background-color:  var( --hover-slight-blue);
    box-shadow: 0px 0px 20px 1px var(--hover-slight-blue);
    border-radius: 40%;
}
