* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    margin: 0;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}