.summary-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary-headline {
    font-size: 48px;
    font-weight: 400;
}

#welcomeName {
    font-size: 64px;
    font-weight: 700;
    color: var(--primary-color);
}

.summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    margin: 80px;
    max-width: 1440px;
}

.tile-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90%;
}

.tile-area-upper,
.tile-area-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}


.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 190px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    gap: 7px;
}

.tile-flex  {
    width: calc(75% + 60px);
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.tile-flex p {
    color: #FFFFFF;
}

.background-light {
    background-color: #D2E2FF;
}

.tile div {
    display: flex;
}

.tile img {
    height: 76px;
    width: 76px;
    border-radius: 50%;
}

.tile-flex img {
    border: 3px solid #FFFFFF;
}
.tile-flex container {
    padding: 28px 48px 28px 48px;
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-flex h2 {
    color: #FFFFFF;
}

.task-counter {
    font-weight: 700;
    font-size: 48px;
    color: black !important;
}

.tile-upper-part {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 76px;
    gap: 20px;
}

.tile-lower-part {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.tile-lower-part p {
    font-size: 23px;
}

.tile-flex-left {
    display: flex;
    flex-direction: column;
    gap:  9px;
}

.white-devider {
    height: 145px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
}
.tile container div p {
    color: var(--primary-color);
}

.white-colored-text {
    color: #FFFFFF !important;
}