/* Allgemeines Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.container {
  padding: 20px;
  width: 100%;
}






.boardheader {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 215px;
}
.boardheader-search {
  display: flex;
  gap: 35px;
  padding-top: 72px;
  padding-bottom: 16px;
}
.task-search-bar {
  display: flex;
  align-items: center;
  width: 312px;
  height: 48px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.task-search-bar:focus-within {
  border: 1px solid var(--secondary-color);
}
.task-search-bar label {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 48px;
}
.task-search-bar label img:hover {
  background-color: var( --hover-slight-blue);
  border-radius: 50%;
  opacity: 0.8;
}
.task-search-input {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
}
.task-search-input:focus {
  outline: none;
  border: none;
}
.task-search-devider {
  border: 1px solid #ccc;
  width: 1px;
  height: 31px;
}
.task-table-headers {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% -232px);
  height: 28px;
  gap: 24px;
  padding-left: 64px;
  padding-right: 64px;
  bottom: 20px;
}
.task-table-headers h4 {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
}
.task-table-header-element {
  display: flex;
  justify-content: space-between;
  width: 244px;
}




task-kanban-board {
  display: flex;
  justify-content: space-between;
  width: calc(100% -232px);
  gap: 24px;
  padding-left: 64px;
  padding-right: 64px;
}

.column {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.column h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks {
  margin-top: 10px;
}

.task {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.task h3 {
  margin: 0;
}

.task .category {
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
}

.task .category.user {
  background-color: #ff9100;
  color: white;
}

.task .category.technical {
  background-color: #007bff;
  color: white;
}

.progress-bar {
  height: 6px;
  width: 50%;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 20px;
}

.progress {
  height: 100%;
  background-color: #28a745;
}

.progress-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.members-prio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* task-add Styles */
.task-add {
  display: flex;
}

.task-add-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.prio2 img{
  margin: 10px;
  height: 10px;
  width: 46px;;
}

.prio13 img{
  margin: 10px;
  height: 33px;
  width: 46px;;
}

.contactAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

.button-add-task {
  height: 51px;
}