/* Allgemeines Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  max-height: 100vh;
  overflow-y: hidden;
}

.boardmain {
  width: calc(100% - 232px);
  max-width: calc(1920px - 232px);
}

.boardheader {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 180px;
  max-width: 1920px;
}

.boardheader-search {
  display: flex;
  gap: 35px;
  padding: 62px 34px 16px 34px;
}

.task-search-bar {
  display: flex;
  align-items: center;
  width: 312px;
  height: 48px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.task-search-bar:focus-within {
  border: 1px solid var(--secondary-color);
}

.task-search-bar label {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 48px;
}

.task-search-bar label img:hover {
  background-color: var( --hover-slight-blue);
  border-radius: 50%;
  opacity: 0.8;
}

.task-search-input {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.task-search-input:focus {
  outline: none;
  border: none;
}

.task-search-devider {
  border: 1px solid #ccc;
  width: 1px;
  height: 31px;
}

.task-table-headers {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  gap: 24px;
  padding-left: 34px;
  padding-right: 34px;
  bottom: 10px;
}

.task-kanban-board {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  padding-left: 34px;
  padding-right: 34px;
  height: 100%;
  margin-top: 10px;
  max-width: 1920px;
}

.task-table-headers h4 {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
}

.task-table-header-element {
  display: flex;
  justify-content: space-between;
  width: 23%;
}

.column {
  background-color: #ffffff;
  border-radius: 8px;
  width: 23%;
  height: 100%;
}

.column h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks {
  height: 100%;
}

.task {
  background-color: white;
  padding: 15px;
  border-radius: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
}

.category {
  font-size: 12px;
  padding: 5px 10px; 
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
}

.task h3 {
  margin-top: 5px;
}

.user {
  background-color: #ff9100;
  color: white;
}

.technical {
  background-color: #007bff;
  color: white;
}

.progress-bar {
  height: 6px;
  width: 50%;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 20px;
}

.progress {
  height: 100%;
  background-color: #28a745;
}

.progress-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.members-prio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.contactAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  margin: -3px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* task-add Styles */
.task-add {
  display: flex;
}

.task-add-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}
.priodiv {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prio2 img{
  width: 24px;
  height: 10px;
}

.prio13 img{
  width: 22px;
}

.button-add-task {
  height: 47px;
}

.highlight {
  background-color: var(--secondary-highlight-color);
  border-radius: 24px;
}

.task-overlay-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px !important;
}

.task-overlay-head img {
  cursor: pointer;
  width: 17px;
  height: 17px;
}

.task-overlay-head div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.task-overlay-head div:hover {
  background-color: var(--hover-slight-blue);
  border-radius: 50%;
  transform: scale(1.1);
}

.task-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 244, 244, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of other elements */
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-overlay.show {
  visibility: visible;
  opacity: 1;
}

.task-overlay-content {
  display: inline-block;
  flex-direction: column;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 528px;
  padding: 38px 30px;
  gap: 15px;
  border-radius: 30px;
  animation: slideFromBottom 0.5s forwards; /* Animation to slide in from the bottom */
}

.task-overlay-content > * {
  margin-top: 12px;
  margin-bottom: 12px;
}


.task-overlay-content h1 {
  margin: 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2; /* Adjust the line-height to change the space between lines */
}

.overlay-priority-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.overlay-priority-div p {
  word-spacing: 20px;
}

.overlay-date-gap {
  word-spacing: 10px;
}

.overlay-tasks-assigned-to {
    display: flex;
    flex-direction: column;
}

.overlay-tasks-assigned-to b {
  margin-bottom: 10px;
}

.overlay-tasks-members {
  display: flex;
  gap: 10px;
}

.margin-right-10 {
  margin-right: 20px;
}

.overlay-inline-elements {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-overlay-content b {
  font-size: 17px;
  font-weight: 700;
}

.overlay-avatar {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 10px 16px;
}

.overlay-subtask {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 6px 16px;
  gap: 16px;
}

.overlay-edit-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding-top: 16px;
  gap: 3px;
  margin: 0px;
}

.overlay-edit-footer p {
  margin-right: 10px;
}

.task-overlay-editors {
  display: flex;
}

.task-overlay-editors:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.task-overlay-editors p:hover {
  color: var(--secondary-color);
}

.task-overlay-devider {
  border: 1px solid #ccc;
  width: 1px;
  height: 21px;
  margin-right: 10px;
}

.task-overlay-content input[type="checkbox"] {
  display: none;
}

.login-remember-checkbox {
  height: 24px;
  width: 24px;
}

.task-overlay-content input[type="checkbox"]:checked + label {
  content: url(../assets/icons/checkbox-checked.svg);
}

.task-overlay-content input[type="checkbox"] + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  content: url(../assets/icons/checkbox-default.svg);
}

.close-overlay {
  color: var(--secondary-color);
}